<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site theme template">
    <meta name="author" content="Colorlib adapted for personnal use by WizBhoo">

    <!-- Title Page -->
    <link rel="icon" href="../../img/favicon.png" type="image/png">
    <title>{% block title "Adrien PIERRARD - CV" %}</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Linearicons CDN -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- libs CSS -->
    <link rel="stylesheet" href="../../libs/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/magnific-popup.css">
    <link rel="stylesheet" href="../../libs/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="../../libs/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../../libs/animate-css/animate.css">
    <link rel="stylesheet" href="../../libs/flaticon/flaticon.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand" href="{{ path('site.home') }}"><img src="../../img/logo.png" alt="APi"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site.home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../download/CV_PIERRARD_ADRIEN.pdf" target="_blank">CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site.portfolio') }}">Réalisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog.home') }}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site.contact') }}">Me Contacter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================End Header Menu Area =================-->


    {% block body %}{% endblock %}


<!--================ Start Footer Area =================-->
<footer class="footer_area section_gap">
    <div class="container">
        <div class="row footer_inner justify-content-center">
            <div class="col-lg-6 text-center">
                <aside class="f_widget social_widget">
                    <div class="f_logo">
                        <img src="../../img/logo.png" alt="">
                    </div>
                    <div class="f_title">
                        <h4>Follow Me</h4>
                    </div>
                    <ul class="list">
                        <li><a href="https://www.linkedin.com/in/a-pierrard/"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/WizBhoo"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://twitter.com/WizBhoo"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </aside>
                <div class="copyright">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a><br>
                        Adapted for personnal use by
                        <a href="https://github.com/WizBhoo" target="_blank">WizBhoo</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================ End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
</script>
<!-- Font-Awesome cdn js -->
<script src="https://kit.fontawesome.com/58f30e32b1.js" crossorigin="anonymous"></script>
<!-- Linear icons cdn js -->
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
<!-- libs JS -->
<script src="../../js/stellar.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../libs/lightbox/simpleLightbox.min.js"></script>
<script src="../../libs/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../../libs/isotope/imagesloaded.pkgd.min.js"></script>
<script src="../../libs/isotope/isotope-min.js"></script>
<script src="../../libs/owl-carousel/owl.carousel.min.js"></script>
<script src="../../js/jquery.ajaxchimp.min.js"></script>
<script src="../../js/mail-script.js"></script>
<!-- contact js -->
<script src="../../js/jquery.form.js"></script>
<script src="../../js/jquery.validate.min.js"></script>
<script src="../../js/contact.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../js/gmaps.min.js"></script>
<script src="../../js/theme.js"></script>
</body>

</html>
