{% extends 'layout.html.twig' %}

{% block title "Adrien PIERRARD - Contact" %}

{% block body %}

    <!--================ Start Contact Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-right">
                    <h1>Me Contacter</h1>
                    <div class="page_link">
                        <a href="{{ path('site.home') }}">Accueil</a>
                        <a href="{{ path('site.contact') }}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Contact Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Rhône, FRANCE</h6>
                            <p>32 Rue Crépet - 69007 Lyon</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">+33 (6) 85 21 60 46</a></h6>
                            <p>Merci de laisser un message<br>avec vos coordonnées ;-)</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">adrien.pierrard@gmail.com</a></h6>
                            <p>Me contacter via le formulaire</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" action="{{ path('site.contact') }}" method="post" id="contactForm">
                        {{ csrf_input() }}
                        <div class="col-md-12">
                            {{ field('name', "Nom & Prénom :", null) }}
                            {{ field('email', "Email :", null) }}
                            {{ field('subject', "Titre :", null) }}
                            {{ field('message', "Contenu :", null, {type: 'textarea'}) }}
                        </div>
                        <div class="col-md-12 text-right">
                            {% if flash('success') %}
                                <div class="row justify-content-center">
                                    <div class="col-md-4 text-right">
                                        <div class="au-alert-success">
                                            {{ flash('success') }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if flash('error') %}
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="au-alert-danger">
                                            {{ flash('error') }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <button type="submit" value="submit" class="primary-btn">
                                <span>Envoyer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
                 data-mlat="40.701083" data-mlon="-74.1522848">
            </div>
        </div>
    </section>
    <!--================End Contact Area =================-->

{% endblock %}
