{% extends 'layout.html.twig' %}

{% block title "PIERRARD Adrien - Portfolio" %}

{% block body %}

    <!--================ Start portfolio Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-right">
                    <h1>Mes Réalisations</h1>
                    <div class="page_link">
                        <a href="{{ path('site.home') }}">Accueil</a>
                        <a href="{{ path('site.portfolio') }}">Réalisations</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Portfolio Banner Area =================-->

    <!--================ Start Portfolio Area =================-->
    <section class="section_gap portfolio_area" id="work">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="main-title">
                        <h1>Mes Réalisations</h1>
                        <p>Je vous invite à parcourir les projets menés à bien durant mon parcours de formation.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="projects_fillter">
                        <ul class="filter list">
                            <li class="active" data-filter="*">Toutes Categories</li>
                            <li data-filter=".cms">CMS</li>
                            <li data-filter=".html-css">HTML/CSS</li>
                            <li data-filter=".php">PHP</li>
                            <li data-filter=".symfony">Symfony</li>
                            <li data-filter=".other">Autres</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="projects_inner row grid">
                <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
                <div class="col-lg-6 col-sm-6 col-sm-12 cms html-css grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work1.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p1'}) }}">
                                <h4>Chalets & Caviar</h4>
                            </a>
                            <p>WordPress - HTML5 CSS3</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-sm-12 other grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work7.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p7'}) }}">
                                <h4>Docker Stack</h4>
                            </a>
                            <p>Docker - Docker-compose</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 other grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work3.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p3'}) }}">
                                <h4>ExpressFood</h4>
                            </a>
                            <p>UML - MySQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 php html-css other grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work5.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p5'}) }}">
                                <h4>Mon site CV & Blog</h4>
                            </a>
                            <p>MVC & POO en PHP - MySQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 symfony php grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work4.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p4'}) }}">
                                <h4>SnowTricks</h4>
                            </a>
                            <p>Symfony 4</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 other grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work8.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p8'}) }}">
                                <h4>API</h4>
                            </a>
                            <p>API REST</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 brand symfony php other grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work6.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p6'}) }}">
                                <h4>Refactoring</h4>
                            </a>
                            <p>Refactoring project</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 html-css grid-item">
                    <div class="projects_item">
                        <img class="img-fluid w-100" src="../img/works/work2.jpg" alt="">
                        <div class="projects_text">
                            <a href="{{ path('site.project', {slug: 'p2'}) }}">
                                <h4>Festi'Films Plein Air</h4>
                            </a>
                            <p>HTML5 CSS3 - Bootstrap 4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Portfolio Area =================-->

{% endblock %}
