{% extends 'adminLayout.html.twig' %}

{% block title "Modification d'un Article" %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="overview-wrap">
                <h1 class="title-1">Edition de l'Article</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    {{ item.title }}
                </div>
                <form action="{{ path('admin.post.edit', {slug: item.slug}) }}"
                      method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="card-body card-block">
                        {{ field('slug', item.slug, "Slug", {disabled: 'disabled'}) }}
                        {{ field('title', item.title, "Titre") }}
                        {{ field('user_id', item.user_id, "Auteur", {options: authors}) }}
                        {{ field('publiDate', item.publishedAt, "Date de création", {disabled: 'disabled'}) }}
                        {{ field('modifDate', item.updatedAt, "Date de modification", {disabled: 'disabled'}) }}
                        {{ field('extract', item.extract, "Extrait", {type: 'textarea'}) }}
                        {{ field('content', item.content, "Contenu", {type: 'textarea'}) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Enregistrer
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}