{% extends 'loginLayout.html.twig' %}

{% block body %}

    <!--================ Start Login Area =================-->

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{{ path('auth.login') }}" method="post">
					<span class="login100-form-title p-b-26">
						<a href="{{ path('site.home') }}">
                            <img src="../../img/logo.png" alt="APi" />
                         </a>
					</span>
                    <span class="login100-form-title p-b-26">
						Sign In
					</span>
                    {{ csrf_input() }}
                    <div class="wrap-input100 validate-input" data-validate = "Saisissez un email valide.">
                        <input class="input100 email" type="text" name="email">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Vous devez saisir votre mot de passe.">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100 password" type="password" name="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="container-login100-form-btn p-b-26">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Se Connecter
                            </button>
                        </div>
                    </div>
                    <div class="p-b-26">
                        {% if flash('success') %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="alert-success">
                                        {{ flash('success') }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="p-b-26">
                        {% if flash('error') %}
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="alert-danger">
                                        {{ flash('error') }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
						<span class="txt1">
							Pas encore de compte ? |
						</span>
                        <a class="txt2" href="{{ path('account.signup') }}">
                            S'inscrire
                        </a><br>
                        <a class="txt2" href="{{ path('auth.password') }}">Password oublié ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--================ End Login Area =================-->

{% endblock %}
